/* App Container - Fullscreen */
.app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* Enable touch gestures for mobile pinch-zoom */
  touch-action: manipulation;
}

.main-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Enable touch gestures for mobile pinch-zoom */
  touch-action: manipulation;
}
